*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.Main h3
{
    color: white;
    align-self: center;
    word-spacing:5px;
    letter-spacing: 5px;
    padding: 10px;
}
.Main
{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(3,1fr);

    background: url('/Images/Stars.svg');
    background-color: rgb(50, 35, 65);
    text-align: center;
    overflow:hidden;
}
.Timer
{
    display: grid;
    grid-template-columns: repeat(4,6rem);
    grid-template-rows: repeat(2,1fr);
    justify-content:center;
    align-items: center;
}
.Icons
{
    background: url('/Images/Hills.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center;
}
.Icons i
{
    font-size: 30px;
    margin: 0px 10px ;
    color: rgb(216, 215, 215);
}
.Icons i:hover
{
    color: rgb(224, 28, 61);
}
.Content-No , .Btn
{
    margin: 10px;
    padding: 20px;
    color: rgb(224, 28, 61);
    background-color: rgb(15, 8, 22);
    border-radius: 10px;
}
.Content
{
    color: rgb(216, 215, 215);
}
.Buttons
{
    grid-column: 1/-1;
}
.Buttons .Btn
{
    border: none;
    color: rgb(6, 238, 180);
}
.Btn:hover
{
    cursor: pointer;
}
.Btn i
{
    color: rgb(216, 215, 215);
}
.Noner
{
    pointer-events: none;
}
@media (max-width:400px)
{
    .Timer
    {
        grid-template-columns: repeat(4,1fr);
    }
    .Btn
    {
        padding: 10PX;
        margin: 5PX;
    }
}